			<div class="component col1">
				<div>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi et sem sed ipsum fermentum tempus. Nulla vel dolor a augue maximus porta. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam eleifend commodo viverra. Duis a ante varius, ullamcorper nunc mollis, posuere nibh. Nam dapibus orci ut orci egestas imperdiet. Suspendisse blandit interdum vehicula. Aliquam erat volutpat. Vivamus gravida lorem vulputate est tempus iaculis. Nullam suscipit justo sit amet justo maximus, vel consequat dui sagittis. Vestibulum diam turpis, consequat bibendum lorem sit amet, euismod tincidunt mauris. Morbi egestas orci ligula, ac mollis neque ultricies eu. Phasellus lobortis, felis eget imperdiet sollicitudin, mauris turpis gravida massa, in euismod leo ante at elit.</p>
				</div>
			</div>
			
			<div class="component col3 himg">
				<div>
					<h3>Functional Hilts</h3>
					<img src="<%= dataSite.uri.rootAsset + "img/" + detailPage.nav.segment + detailPage.uri[detailPage.lang] %>-design-01-3col-1.jpg" width="320" height="200" alt="A plain, but highly durable metal hilt option for the <%= detailProduct.title %>.">
					<p>Sed viverra ante vitae libero scelerisque, sit amet vestibulum mi scelerisque. Fusce sodales neque leo. Integer porta congue ullamcorper. Aenean ac rutrum elit. Quisque iaculis dictum cursus. In hac habitasse platea dictumst. Maecenas imperdiet vehicula mi, a gravida felis. Aliquam molestie, magna sit amet convallis rutrum, odio nisl elementum augue, nec dictum ante orci quis lectus. Donec posuere ante et velit placerat, a vulputate dolor tincidunt. Donec finibus ornare fringilla. Maecenas volutpat diam neque, vel laoreet neque egestas ac. Donec fringilla elementum lacus ut convallis.</p>
				</div>
				<div>
					<h3>Ornate Hilts</h3>
					<img src="<%= dataSite.uri.rootAsset + "img/" + detailPage.nav.segment + detailPage.uri[detailPage.lang] %>-design-01-3col-2.jpg" width="320" height="200" alt="An ornate, wooden hilt option for the <%= detailProduct.title %>.">
					<p>Donec congue felis nibh, viverra facilisis lorem viverra in. Aliquam vel pharetra ante. Mauris nec lectus felis. Cras malesuada quam est, non dictum ex fermentum non. Vivamus lacinia dapibus nisl sed molestie. Fusce rutrum consectetur odio, nec scelerisque metus venenatis ut. Vivamus vitae dui lorem. Phasellus dignissim, lacus sit amet porttitor accumsan, urna nunc maximus turpis, ullamcorper bibendum ipsum diam in felis.</p>
				</div>
				<div>
					<h3>Matching Scabbard</h3>
					<img src="<%= dataSite.uri.rootAsset + "img/" + detailPage.nav.segment + detailPage.uri[detailPage.lang] %>-design-01-3col-3.jpg" width="320" height="200" alt="A <%= detailProduct.title %> along with its matching scabbard.">
					<p>Nullam rhoncus libero et ex commodo, ac rutrum nisi egestas. Morbi efficitur nibh et lorem tempus, sed volutpat nisi commodo. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut hendrerit massa vel arcu accumsan, at mattis mi euismod. Praesent vitae iaculis nulla, nec dapibus neque. Aliquam at tellus ac nulla rutrum sodales ac in enim. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent feugiat vel lorem et aliquet. Etiam sed nulla at mauris pretium commodo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis a tempus turpis, in gravida urna. Sed posuere urna et arcu ornare, eget aliquam eros maximus. Integer quam dui, molestie ac lectus id, molestie cursus ipsum. Vivamus non faucibus tortor, non suscipit nunc.</p>
				</div>
			</div>