			<div class="comp txt">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi et sem sed ipsum fermentum tempus. Nulla vel dolor a augue maximus porta. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam eleifend commodo viverra. Duis a ante varius, ullamcorper nunc mollis, posuere nibh. Nam dapibus orci ut orci egestas imperdiet. Suspendisse blandit interdum vehicula. Aliquam erat volutpat. Vivamus gravida lorem vulputate est tempus iaculis. Nullam suscipit justo sit amet justo maximus, vel consequat dui sagittis. Vestibulum diam turpis, consequat bibendum lorem sit amet, euismod tincidunt mauris. Morbi egestas orci ligula, ac mollis neque ultricies eu. Phasellus lobortis, felis eget imperdiet sollicitudin, mauris turpis gravida massa, in euismod leo ante at elit.</p>
			</div>
			<div class="comp col3">
				<div class="comp img txt imgtop">
					<h3>Artisan Guards</h3>
					<picture>
						<source srcset="<%= dataSite.uri.rootAsset %>img/weapon/katana-exotic-oriental-sword-design-01.mobile.jpg" media="(max-width: 979px)">
						<img src="<%= dataSite.uri.rootAsset %>img/weapon/katana-exotic-oriental-sword-design-01.jpg" width="320" height="200" alt="A close-up photo, of a Katana's hilt and guard">
					</picture>
					<p>The Canbotic Smithy Katana features a small guard; available in round and square shapes. They can range from basic, low-cost minimalist designs, to extravagant pieces of art. As the most prominent part of the weapon - while the blade slumbers in its sheath - a well chosen guard, will speak volumes about the wielder. But don't worry about durability; even our most <i>elegant</i> designs are put through rigourous testing.</p>
				</div>
				<div class="comp img txt imgtop">
					<h3>Beautiful Curves</h3>
					<picture>
						<source srcset="<%= dataSite.uri.rootAsset %>img/weapon/katana-exotic-oriental-sword-design-02.mobile.jpg" media="(max-width: 979px)">
						<img src="<%= dataSite.uri.rootAsset %>img/weapon/katana-exotic-oriental-sword-design-02.jpg" width="320" height="200" alt="A close-up photo, focusing on the Katana's curved blade">
					</picture>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi et sem sed ipsum fermentum tempus. Nulla vel dolor a augue maximus porta. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam eleifend commodo viverra. Duis a ante varius, ullamcorper nunc mollis, posuere nibh. Nam dapibus orci ut orci egestas imperdiet. Suspendisse blandit interdum vehicula. Aliquam erat volutpat. Vivamus gravida lorem vulputate est tempus iaculis. Nullam suscipit justo sit amet justo maximus, vel consequat dui sagittis. Vestibulum diam turpis, consequat bibendum lorem sit amet, euismod tincidunt mauris. Morbi egestas orci ligula, ac mollis neque ultricies eu. Phasellus lobortis, felis eget imperdiet sollicitudin, mauris turpis gravida massa, in euismod leo ante at elit.</p>
				</div>
				<div class="comp img txt imgtop">
					<h3>Rippling Hamon</h3>
					<picture>
						<source srcset="<%= dataSite.uri.rootAsset %>img/weapon/katana-exotic-oriental-sword-design-03.mobile.jpg" media="(max-width: 979px)">
						<img src="<%= dataSite.uri.rootAsset %>img/weapon/katana-exotic-oriental-sword-design-03.jpg" width="320" height="200" alt="A close-up photo, showing off the Katana's distinctive hamon">
					</picture>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi et sem sed ipsum fermentum tempus. Nulla vel dolor a augue maximus porta. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam eleifend commodo viverra. Duis a ante varius, ullamcorper nunc mollis, posuere nibh. Nam dapibus orci ut orci egestas imperdiet. Suspendisse blandit interdum vehicula. Aliquam erat volutpat. Vivamus gravida lorem vulputate est tempus iaculis. Nullam suscipit justo sit amet justo maximus, vel consequat dui sagittis. Vestibulum diam turpis, consequat bibendum lorem sit amet, euismod tincidunt mauris. Morbi egestas orci ligula, ac mollis neque ultricies eu. Phasellus lobortis, felis eget imperdiet sollicitudin, mauris turpis gravida massa, in euismod leo ante at elit.</p>
				</div>
			</div>
