			<div class="cmp_carousel">
				<img src="<%= dataSite.uriPath.rootAsset %>img/weapon/<%= detailsWeapon.en.weapUri %>-performance-01-carousel-1.jpg" width="980" height="300" alt="A gladiator armed with a <%= detailsWeapon.attr.name %> taunts his next opponent.">
				<img src="<%= dataSite.uriPath.rootAsset %>img/weapon/<%= detailsWeapon.en.weapUri %>-performance-01-carousel-2.jpg" width="980" height="300" alt="Two gladiators - one armed with a <%= detailsWeapon.attr.name %> - clash in combat.">
				<img src="<%= dataSite.uriPath.rootAsset %>img/weapon/<%= detailsWeapon.en.weapUri %>-performance-01-carousel-3.jpg" width="980" height="300" alt="A gladiator armed with a <%= detailsWeapon.attr.name %> stands triumphant over his opponent.">
			</div>

			<div class="cmp_txt">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi et sem sed ipsum fermentum tempus. Nulla vel dolor a augue maximus porta. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam eleifend commodo viverra. Duis a ante varius, ullamcorper nunc mollis, posuere nibh. Nam dapibus orci ut orci egestas imperdiet. Suspendisse blandit interdum vehicula. Aliquam erat volutpat. Vivamus gravida lorem vulputate est tempus iaculis. Nullam suscipit justo sit amet justo maximus, vel consequat dui sagittis. Vestibulum diam turpis, consequat bibendum lorem sit amet, euismod tincidunt mauris. Morbi egestas orci ligula, ac mollis neque ultricies eu. Phasellus lobortis, felis eget imperdiet sollicitudin, mauris turpis gravida massa, in euismod leo ante at elit.</p>
			</div>
			
			<div class="cmp_2coltxtimg">
				<div>
					<h3>Functional Hilts</h3>
					<p>Sed viverra ante vitae libero scelerisque, sit amet vestibulum mi scelerisque. Fusce sodales neque leo. Integer porta congue ullamcorper. Aenean ac rutrum elit. Quisque iaculis dictum cursus. In hac habitasse platea dictumst. Maecenas imperdiet vehicula mi, a gravida felis. Aliquam molestie, magna sit amet convallis rutrum, odio nisl elementum augue, nec dictum ante orci quis lectus. Donec posuere ante et velit placerat, a vulputate dolor tincidunt. Donec finibus ornare fringilla. Maecenas volutpat diam neque, vel laoreet neque egestas ac. Donec fringilla elementum lacus ut convallis.</p>
				</div>
				<img src="<%= dataSite.uriPath.rootAsset %>img/weapon/<%= detailsWeapon.en.weapUri %>-performance-02.jpg" width="320" height="200" alt="A roman wields a <%= detailsWeapon.attr.name %>.">
			</div>