<% include template/head.ejs %>
<body>
<% include template/content-head.ejs %>

	<main id="category">
		<h1><%= detailsPage[detailsPage.langCode].title %></h1>
		<% dataWeapon.forEach(function(category) { %><section>
			<h2><% if (category.weapons.length == 1) { %><%= category[detailsPage.langCode][0] %><% } else { %><%= category[detailsPage.langCode][1] %><% }; %></h2>
			<ul>
				<% category.weapons.forEach(function(weapon) { %><li>
					<a href="<%= detailsPage[detailsPage.langCode].path + "/" + weapon[detailsPage.langCode].weapUri %>">
						<h3><%= weapon.attr.name %></h3>
						<img src="<%= dataSite.uriPath.rootAsset %>img/<%= weapon.en.weapUri%>-icon-90.png" width="90" height="90" alt="">
					</a>
					<p><%= weapon[detailsPage.langCode].weapBlurb.split(".")[0] %></p>
				</li><% }); %>
			</ul>
		</section><% }); %>
	</main>
</body>
</html>