<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="description" content="Select Language / Choisir la langue">
	<title><%= dataSite.title.en %> / <%= dataSite.title.fr %></title>

	<link rel="canonical" href="<%= dataSite.uriPath.rootSite %>" />
	<link rel="alternate" hreflang="en" href="<%= dataSite.uriPath.rootSite %>/en" />
	<link rel="alternate" hreflang="fr" href="<%= dataSite.uriPath.rootSite %>/fr" />

	<link rel="stylesheet" type="text/css" href="<%= dataSite.uriPath.rootAsset %>canbotics-smithy.css" />	
</head>
<body>
	<header>
		<div>
			<h1><%= dataSite.title.en %> / <%= dataSite.title.fr %></h1>
			<nav>
				<ul>
					<li><a href="/en">English</a></li>
					<li><a href="/fr">Français</a></li>
				</ul>
			</nav>
		</div>
	</header>

	<main>
		<h1>Select Language / Choisir la langue</h1>
		
		<a href="/en/">English</a>
		<a href="/fr/">Français</a>
	</main>
</body>
</html>
