<% include template/head.ejs %>
<body>
<% include template/content-head.ejs %>

	<main id="weapon">
		<h1><%= detailsWeapon.attr.name %></h1>
		<img src="<%= dataSite.uriPath.rootAsset %>img/weapon/<%= detailsWeapon.en.weapUri%>-banner.jpg" width="980" height="450" alt="">
<% include template/attr.ejs %>

		<section id="design">
			<h2><% if (detailsPage.langCode == "en") { -%>Design<% } else { -%>Conception<% }; -%></h2>
<%- include("weapon/" + detailsWeapon[detailsPage.langCode].weapUri + "-design.ejs") %>
		</section>
		
		<section id="performance">
			<h2><% if (detailsPage.langCode == "en") { -%>Performance<% } else { -%>Performance<% }; -%></h2>
<%- include("weapon/" + detailsWeapon[detailsPage.langCode].weapUri + "-performance.ejs") %>
		</section>
		
		<section id="warranty" class="warranty">
			<h2><% if (detailsPage.langCode == "en") { -%>Warranty<% } else { -%>Garantie<% }; -%></h2>
<% include template/weapon-warranty.ejs %>
		</section>

		<section id="legal">
			<h2><% if (detailsPage.langCode == "en") { -%>Legal Disclaimers<% } else { -%>Avis de non-responsabilité<% }; -%></h2>
<%- include template/legal.ejs %>
		</section>
	</main>
	<script src="<%= dataSite.uriPath.rootAsset %>global/jquery-3.3.1.min.js"></script>
	<script src="<%= dataSite.uriPath.rootAsset %>smithy/canbotics-smithy.js"></script>
</body>
</html>



