				<% if (detailPage.lang == "en") { %>
					<h3>Mitigation</h3><div><%= detailProduct.attr.value.damagemitigation %><span>%</span></div><small>hit points<sup><a href="#dis<%= attrdisc %>"><%= attrdisc %></a></sup></small>
				<% } else { %>
					<h3>Atténuation</h3><div><%= detailProduct.attr.value.damagemitigation %><span>%</span></div><small>points de dommage<sup><a href="#dis<%= attrdisc %>"><%= attrdisc %></a></sup></small>
				<% }; %>