				<% if (detailPage.lang == "en") { %>
					<h3>Speed</h3><div><%= detailProduct.attr.value.speed %></div><small>seconds<sup><a href="#dis<%= attrdisc %>"><%= attrdisc %></a></sup></small>
				<% } else { %>
					<h3>La vitesse</h3><div><%= detailProduct.attr.value.speed %></div><small>secondes<sup><a href="#dis<%= attrdisc %>"><%= attrdisc %></a></sup></small>
				<% }; %>