				<% if (detailPage.lang == "en") { %>
					<h3>Weight</h3><div><%= detailProduct.attr.value.weight %> <span>kg</span></div><small><%= Math.round(detailProduct.attr.value.weight * 2.2 * 100) / 100 %> lbs<sup><a href="#dis<%= attrdisc %>"><%= attrdisc %></a></sup></small>
				<% } else { %>
					<h3>Poids</h3><div><%= detailProduct.attr.value.weight %> <span>kg</span></div><small><%= Math.round(detailProduct.attr.value.weight * 2.2 * 100) / 100 %> lb<sup><a href="#dis<%= attrdisc %>"><%= attrdisc %></a></sup></small>
				<% }; %>