	<header>
		<h1>Canbotics Medieval Shoppe</h1>
		<nav>
			<h2>Site Navigation</h2>
			<% if (metaData.langCode.length) { %><ul>
				<li><a href="<%= uriPath.siteRoot %>/en">Home</a></li>
				<li><a href="<%= uriPath.siteRoot %>/en/melee-weapons">Melee Weapons</a></li>
				<li><a href="<%= uriPath.siteRoot %>/en/ranged-weapons">Ranged Weapons</a></li>
				<li><a href="<%= uriPath.siteRoot %>/en/magic-weapons">Magic Weapons</a></li>
			</ul><% }; %>
			<ul>
				<li><a href="<%= uriPath.siteRoot + uriPath.fr%>">Français</a></li>
			</ul>
		</nav>
	</header>
