		<% detailCategory.listSubcat.forEach(function(subcat) { %><section>
			<h3><%= subcat.title %></h3>
			<ul class="list product">
				<% subcat.listProd.forEach(function(prod) { %><li>
					<a href="/<%= detailPage.lang + detailPage.uri[detailPage.lang] + prod.uri %>">
						<h4><%= prod.title %></h4>
						<img src="<%= dataSite.uri.rootAsset + "images/" + detailPage.nav.segment + prod.uriAsset %>-icon-90.png" width="90" height="90" alt="">
					</a>
					<p><%= prod.blurb %></p>
				</li><% }); %>
			</ul>	
		</section>
		<% }); %>