		<section>
			<div class="component carousel">
				<ul><li aria-label="image 1" aria-current="location" tabindex="0"></li><li aria-label="image 2" tabindex="0"></li><li aria-label="image 3" tabindex="0"></li></ul>
				<img src="<%= dataSite.uri.rootAsset %>img/weapon/gladius-short-sword-banner.jpg" width="980" height="450" alt="Gladius" aria-hidden="false"><img src="<%= dataSite.uri.rootAsset %>img/weapon/longbow-long-distance-archery-bow-banner.jpg" width="980" height="450" alt="Longbow" aria-hidden="true"><img src="<%= dataSite.uri.rootAsset %>img/weapon/axe-heavy-close-range-cleaver-banner.jpg" width="980" height="450" alt="Axe" aria-hidden="true">
			</div>
			
			<div class="component col3 himg">
				<div>
					<h3>Product</h3>
					<img src="<%= dataSite.uri.rootAsset %>fpo/product-badge-320x200.jpg" width="320" height="200" alt="">
				</div>
				<div>
					<h3>Product</h3>
					<img src="<%= dataSite.uri.rootAsset %>fpo/product-badge-320x200.jpg" width="320" height="200" alt="">
				</div>
				<div>
					<h3>Product</h3>
					<img src="<%= dataSite.uri.rootAsset %>fpo/product-badge-320x200.jpg" width="320" height="200" alt="">
				</div>
			</div>
		</section>
		
		<section>
			<div class="component col1">
				<div>
					<p>Bacon ipsum dolor amet buffalo veniam duis, ground round jowl bacon consectetur. Enim est in strip steak id jerky tenderloin. Cillum pancetta nisi ex buffalo. Ipsum buffalo t-bone dolor ut sausage, drumstick tempor beef ribs pork belly cupim eiusmod. Quis turducken fugiat spare ribs pork loin. Picanha nulla pork qui do esse short ribs hamburger adipisicing doner ribeye pork chop bacon beef ribs in.</p>
					<p>Adipisicing in elit, magna burgdoggen incididunt hamburger leberkas meatloaf enim landjaeger. Enim pork loin adipisicing, ex lorem kevin kielbasa sausage brisket magna. Exercitation tri-tip esse, ham hock fatback aute ad ex. Dolore magna corned beef minim ullamco, eiusmod voluptate sed nulla leberkas do mollit ex ut.</p>
					<p>Aute venison pastrami, dolore fugiat doner et labore excepteur consequat in dolore ribeye bresaola irure. Turkey beef flank, turducken filet mignon laborum proident ham hock beef ribs meatball venison. Buffalo burgdoggen turducken occaecat pork, sed voluptate adipisicing. Excepteur ex ut eu sausage hamburger turducken. Aute prosciutto ground round ex.</p>
				</div>
			</div>
		</section>