<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="description" content="Select Language / Choisir la langue">
	<title><%= dataSite.title.en %> / <%= dataSite.title.fr %></title>

	<link rel="canonical" href="<%= dataSite.uri.rootSite %>" />
	<link rel="alternate" hreflang="en" href="<%= dataSite.uri.rootSite %>/en" />
	<link rel="alternate" hreflang="fr" href="<%= dataSite.uri.rootSite %>/fr" />

	<link rel="stylesheet" type="text/css" href="<%= dataSite.uri.rootAsset %>canbotics-smithy.css" />	
</head>
<body>
	<header>
		<div>
			<h1><%= dataSite.title.en %> / <%= dataSite.title.fr %></h1>
			<nav>
				<ul>
					<li><a href="/en" hreflang="en">English</a></li>
					<li><a href="/fr" hreflang="fr">Français</a></li>
				</ul>
			</nav>
		</div>
	</header>

	<main id="landing">
		<h1>Select Language / Choisir la langue</h1>
		
		<a href="/en/" hreflang="en">English</a>
		<a href="/fr/" hreflang="fr">Français</a>
	</main>
	<script src="http://asset.canbotics.ca/global/jquery-3.3.1.min.js"></script>
	<script src="http://asset.canbotics.ca/smithy/canbotics-smithy.js"></script>
</body>
</html>