		<header>
			<img src="<%= dataSite.uri.rootAsset + "img/" + detailPage.nav.segment + detailPage.uri.en %>-banner.jpg" width="980" height="450" alt="">
			<h2 aria-hidden="true"><% if (detailPage.lang == "en") { %>Attributes<% } else { %>Les attributs<% }; %></h2>
			<ul class="keyattr">
				<% detailProduct.attr.order.forEach(function(attr,disc) { %><li class="<%= attr %><% if (attr == "skill") { %> <%= detailProduct.attr.value.skill.split("|")[0] %><%};%>"><%- include("attr/" + attr + ".ejs",{attrdisc:disc - 1}) %></li><% }); %>
			</ul>
		</header>

		<section id="intro">
			<h2><%= detailProduct.class %></h2>
<%- include(detailPage.nav.segment + detailPage.uri[detailPage.lang] + "-intro.ejs") %>
		</section>

		<section id="design">
			<h2><% if (detailPage.lang == "en") { -%>Design<% } else { -%>Conception<% }; -%></h2>
<%- include(detailPage.nav.segment + detailPage.uri[detailPage.lang] + "-design.ejs") %>
			<footer>
				<% if (detailProduct.gallery) { if (detailPage.lang == "en") {var btnGallery = ["Photo Gallery","/photo-gallery"]} else {var btnGallery = ["Galerie de photos","/galerie-de-photos"]} %><a href="/<%= detailPage.lang + detailPage.canon[detailPage.lang] + btnGallery[1] %>" class="btn prim"><%= btnGallery[0] %></a><%}%>
			</footer>
		</section>

		<section id="performance">
			<h2><% if (detailPage.lang == "en") { -%>Performance<% } else { -%>Performance<% }; -%></h2>
<%- include(detailPage.nav.segment + detailPage.uri[detailPage.lang] + "-performance.ejs") %>
			<footer>
				<% if (detailPage.lang == "en") {var btnSpecs = ["Technical Specs","/technical-specs"]} else {var btnSpecs = ["Spécifications techniques","/specifications-techniques"]} %><a href="/<%= detailPage.lang + detailPage.canon[detailPage.lang] + btnSpecs[1] %>" class="btn prim"><%= btnSpecs[0] %></a>
			</footer>
		</section>

		<section id="technology">
			<h2><% if (detailPage.lang == "en") { -%>Technology<% } else { -%>Technologie<% }; -%></h2>
<%- include(detailPage.nav.segment + detailPage.uri[detailPage.lang] + "-technology.ejs") %>
			<div class="comp img txt free reverse">
<% if (detailPage.lang == "en") { %>
				<div>
					<h3>Stay Connected, Even in the Field</h3>
					<p>The <%= detailProduct.title %> <%= detailProduct.class.toLowerCase() %> - as with the entire catalogue - comes equipped with the latest in wireless communications technology. As of 2018, <%= dataSite.title.en %> utilizes the <sup>m</sup>3 ART system. This allows for connecting your personal smart devices, and even remote connection to the myArsenal<sup>&copy;,<a href="#dis50">50</a></sup>.</p>
				</div>
				<div>
					<img src="<%= dataSite.uri.rootAsset %>img/global/m3-art-logo-decal.png" width="200" height="100" alt="">
				</div>
<% } else { %>
				<div>
					<h3>Restez connecté, même sur le terrain</h3>
					<p><%= detailProduct.title %> <%= detailProduct.class.toLowerCase() %> - comme tout le catalogue - est équipée des dernières technologies de communication sans fil. En 2018, <%= dataSite.title.fr %> utilise le système <sup>m</sup>3 ART. Cela permet de connecter vos appareils intelligents personnels, et même une connexion à distance au myArsenal<sup>MD,<a href="#dis50">50</a></sup>.</p>
				</div>
				<div>
					<img src="<%= dataSite.uri.rootAsset %>img/global/m3-art-logo-decal.png" width="200" height="100" alt="">
				</div>
<% }; %>
			</div>
			<div class="comp img txt free reverse">
<% if (detailPage.lang == "en") { %>
				<div>
					<h3>Canbotics myArsenal Companion App</h3>
					<p>Utilizing the built-in <sup>m</sup>3 ART system<sup><a href="#dis51">51</a></sup>, the Canbotics myArsenal<sup>&copy;</sup> application puts you in complete control. Your <%= dataSite.title.en %> <%= detailProduct.title %> integrates with your choice of smart device<sup><a href="#dis52">52</a></sup>, to provide a slew of services:</p>
					<ul class="list square">
						<li>Monitor the status of your <%= detailProduct.title %></li>
						<li>Track the <%= detailProduct.title %>, in case of loss or theft</li>
						<li>Contact your personal myArsenal squire</li>
					</ul>
				</div>
				<div>
					<img src="<%= dataSite.uri.rootAsset %>img/global/canbotics-myarsenal-logo-decal.png" width="200" height="100" alt="">
				</div>
<% } else { %>
				<div>
					<h3>Canbotics myArsenal Companion App</h3>
					<p>Utilisant le système <sup>m</sup>3 ART intégré<sup><a href="#dis51">51</a></sup>, l'application Canbotics myArsenal<sup>&copy;</sup> vous permet d'avoir un contrôle total. Votre <%= dataSite.title.fr %> <%= detailProduct.title %> s'intègre à votre choix de smart device<sup><a href="#dis52">52</a></sup>, pour fournir une multitude de services:</p>
					<ul class="list square">
						<li>Surveillez l'état de votre <%= detailProduct.title %></li>
						<li>Suivre le <%= detailProduct.title %>, en cas de perte ou de vol</li>
						<li>Contactez votre écuyer personnel myArsenal</li>
					</ul>
				</div>
				<div>
					<img src="<%= dataSite.uri.rootAsset %>img/global/canbotics-myarsenal-logo-decal.png" width="200" height="100" alt="">
				</div>
<% }; %>
			</div>
			<footer>
				<a href="" class="btn prim">Canbotics myArsenal</a>
			</footer>
		</section>

		<section id="warranty">
			<h2><% if (detailPage.lang == "en") { -%>Warranty<% } else { -%>Garantie<% }; -%></h2>
			<div class="comp img txt col21 reverse">
<% if (detailPage.lang == "en") { if (detailPage.nav.segment == "weapon") { %>
				<div>
					<p>We at <%= dataSite.title.en %> know there's nothing more frustrating, or terrifying when your weapon breaks mid-battle. It's for this reason that we craft all our weapons only from the best materials, and each forged by our master smiths. Every design must pass many rigorous tests, proving they are top quality.</p>
					<p>That is why you can rest easy with a purchase from us, we are so confident that each of our weapons comes with a comprehensive warranty plan. Just see the list below for some of the key benefits of owning a <%= dataSite.title.en %> <%= detailProduct.title %>:</p>
					<ul class="square">
						<li>Complimentary sharpening and rust removal for 2 years<sup><a href="#disast">*</a></sup></li>
						<li>4 years/10 battles<sup><a href="#disastast">**</a></sup> parts and labour coverage of minor failures<sup><a href="#disastastast">***</a></sup></li>
						<li>6 years/15 battles<sup><a href="#disastast">**</a></sup> parts and labour coverage of major failures<sup><a href="#disastastast">***</a></sup></li>
					</ul>
					<div class="or_alignRight"><a class="btn prim" href="/en/warranty">Full Warranty Details</a></div>
				</div>
				<div>
					<img src="<%= dataSite.uri.rootAsset %>img/warranty/canbotics-smithy-warranty-weapon-badge.jpg" width="320" height="300" alt="A blade worn and weathered before its time; from one of our competitors.">
				</div>
<% } else if (detailPage.nav.segment == "armour") { %>
				<div>
					<p>We at <%= dataSite.title.en %> know that often in combat, the only thing standing between your enemy's weapon and your gut, is your armour. We are also well aware, that you can't be thinking about your armour's performance in the heat of battle. That's why we use nothing but the best products, forged by the best master smiths around. Every design must pass many rigorous tests, proving they are top quality.</p>
					<p>That is why you can rest easy with a purchase from us, we are so confident that all of our armour comes with a comprehensive warranty plan. Just see the list below for some of the key benefits of owning a <%= dataSite.title.en %> <%= detailProduct.title %>:</p>
					<ul class="square">
						<li>Complimentary patching, polishing, and rust removal for 2 years<sup><a href="#disast">*</a></sup></li>
						<li>4 years/10 battles<sup><a href="#disastast">**</a></sup> parts and labour coverage of minor failures<sup><a href="#disastastast">***</a></sup></li>
						<li>6 years/15 battles<sup><a href="#disastast">**</a></sup> parts and labour coverage of major failures<sup><a href="#disastastast">***</a></sup></li>
					</ul>
					<div class="or_alignRight"><a class="btn prim" href="/en/warranty">Full Warranty Details</a></div>
				</div>
				<div>
					<img src="<%= dataSite.uri.rootAsset %>img/warranty/canbotics-smithy-warranty-armour-badge.jpg" width="320" height="300" alt="A worn and rusted set of armour, removed from service before its time; from one of our competitors.">
				</div>
<% } else { %>
<% }; } else { if (detailPage.nav.segment == "weapon") { %>
				<div>
					<p>Chez <%= dataSite.title.fr %>, nous savons qu'il n'y a rien de plus frustrant, ou terrifiant quand votre arme se brise au milieu de la bataille. C'est pour cette raison que nous fabriquons toutes nos armes uniquement à partir des meilleurs matériaux et forgés par nos maîtres forgerons. Chaque conception doit passer de nombreux tests rigoureux, prouvant qu'ils sont de qualité supérieure.</p>
					<p>C'est pourquoi vous pouvez vous reposer facilement avec un achat chez nous, nous sommes si confiants que chacune de nos armes est livré avec un plan de garantie complet. Il suffit de voir la liste ci-dessous pour quelques-uns des principaux avantages de posséder une <%= detailProduct.title %> <%= dataSite.title.fr %> :</p>
					<ul class="square">
						<li>Affûtage et décapage gratuit pendant 2 ans<sup><a href="#disast">*</a></sup></li>
						<li>4 ans / 10 batailles<sup><a href="#disastast">**</a></sup> couverture des pièces et main-d'œuvre des défaillances mineures<sup><a href="#disastastast">***</a></sup></li>
						<li>6 ans / 15 batailles<sup><a href="#disastast">**</a></sup> couverture des pièces et main-d'œuvre des défaillances majeures<sup><a href="#disastastast">***</a></sup></li>
					</ul>
					<div class="or_alignRight"><a class="btn prim" href="/fr/garantie">Détails complets de la garantie</a></div>
				</div>
				<div>
					<img src="<%= dataSite.uri.rootAsset %>img/warranty/canbotics-smithy-warranty-weapon-badge.jpg" width="320" height="300" alt="Une lame usée et altérée avant son heure; de l'un de nos concurrents.">
				</div>
<% } else if (detailPage.nav.segment == "armour") { %>
				<div>
					<p>Chez <%= dataSite.title.fr %>, nous savons que souvent au combat, la seule chose qui se trouve entre l'arme de votre ennemi et votre intestin, c'est votre armure. Nous savons également que vous ne pouvez pas penser à la performance de votre armure dans le feu de la bataille. C'est pourquoi nous n'utilisons que les meilleurs produits, forgés par les meilleurs maîtres forgerons. Chaque conception doit passer de nombreux tests rigoureux, prouvant qu'ils sont de qualité supérieure.</p>
					<p>C'est pourquoi vous pouvez vous reposer facilement avec un achat chez nous, nous sommes si confiants que toutes nos armures sont livrées avec un plan de garantie complet. Il suffit de voir la liste ci-dessous pour quelques-uns des principaux avantages de posséder une <%= detailProduct.title %> <%= dataSite.title.fr %> :</p>
					<ul class="square">
						<li>Ragréage, polissage et enlèvement de la rouille gratuits pendant 2 ans<sup><a href="#disast">*</a></sup></li>
						<li>4 ans / 10 batailles<sup><a href="#disastast">**</a></sup> couverture des pièces et main-d'œuvre des défaillances mineures<sup><a href="#disastastast">***</a></sup></li>
						<li>6 ans / 15 batailles<sup><a href="#disastast">**</a></sup> couverture des pièces et main-d'œuvre des défaillances majeures<sup><a href="#disastastast">***</a></sup></li>
					</ul>
					<div class="or_alignRight"><a class="btn prim" href="/fr/garantie">Détails complets de la garantie</a></div>
				</div>
				<div>
					<img src="<%= dataSite.uri.rootAsset %>img/warranty/canbotics-smithy-warranty-armour-badge.jpg" width="320" height="300" alt="Une armure usée et rouillée, retirée du service avant son heure; de l'un de nos concurrents.">
				</div>
<% } else { %>
<% }; }; %>
			</div>
		</section>

		<section id="similar">
			<h2><% if (detailPage.lang == "en") { if (detailPage.nav.segment == "weapon") { %>Similar Weapons<% } else if (detailPage.nav.segment == "armour") { %>Similar Armour<% } else { %>Similar Ammunition<% }; } else { if (detailPage.nav.segment == "weapon") { %>Armes similaires<% } else if (detailPage.nav.segment == "armour") { %>Armure similaire<% } else { %>Munitions similaires<% }; }; %></h2>

			<ul class="component list product">
				<% detailProduct.similar.forEach(function(similarProduct) { %><li>
					<a href="<%= "/" + detailPage.lang + similarProduct[3] + similarProduct[2] %>">
						<h3><%= similarProduct[0] %></h3>
						<img src="<%= dataSite.uri.rootAsset + "img/" + detailPage.nav.segment + similarProduct[4] %>-icon-90.png" width="90" height="90" alt="">
					</a>
					<p><%= similarProduct[1] %></p>
				</li><% }); %>
			</ul>
		</section>
