		<% detailSegment.listCategory.forEach(function(category) {%><section>
			<h2><a href="/<%= detailPage.lang + category.uri %>"><%= category.title %></a></h2>
			<% category.listSubcat.forEach(function(subcat) { %>
			<h3><%= subcat.title %></h3>
			<ul class="component list product">
				<% subcat.listProd.forEach(function(prod) { %><li>
					<a href="/<%= detailPage.lang + category.uri + prod.uri %>">
						<h4><%= prod.title %></h4>
						<img src="<%= dataSite.uri.rootAsset + "img/" + detailPage.nav.segment + prod.uriAsset %>-icon-90.png" width="90" height="90" alt="">
					</a>
					<p><%= prod.blurb %></p>
				</li><% }); %>
			</ul><% }); %>		
		</section>
		<% }); %>