<!DOCTYPE html>
<html lang="<%= detailPage.lang %>">
<head>
	<meta charset="utf-8">
	<meta name="description" content="<%= detailPage.meta.desc %>">
	<title><%= detailPage.meta.title %></title>

	<link rel="canonical" href="<%= dataSite.uri.rootSite + "/" + detailPage.lang + detailPage.canon[detailPage.lang] %>" />
	<link rel="alternate" hreflang="en" href="<%= dataSite.uri.rootSite + "/en" + detailPage.canon.en %>" />
	<link rel="alternate" hreflang="fr" href="<%= dataSite.uri.rootSite + "/fr" + detailPage.canon.fr %>" />

	<link rel="stylesheet" type="text/css" href="<%= dataSite.uri.rootAsset %>canbotics-smithy.css" />	
</head>
<body>
	<header>
		<div>
			<h1><%= dataSite.title[detailPage.lang] %></h1>
			<nav aria-labelledby="siteNavTitle">
				<% if (detailPage.lang.length) { if (detailPage.lang == "en") {%><h2 id="siteNavTitle">Site Navigation</h2>
				<ul>
					<li><a href="/en"<% if (detailPage.nav.segment == "index") { %> aria-current="location"<% }; %>>Home</a></li>
					<li>
						<a href="/en/weapons"<% if (detailPage.nav.segment == "weapon") { %> aria-current="location"<% }; %>>Weapons</a>
						<ul>
							<li><a href="/en/melee-weapons"<% if (detailPage.nav.category == "melee") { %> aria-current="location"<% }; %>>Melee Weapons</a></li>
							<li><a href="/en/ranged-weapons"<% if (detailPage.nav.category == "ranged") { %> aria-current="location"<% }; %>>Ranged Weapons</a></li>
							<li><a href="/en/magic-weapons"<% if (detailPage.nav.category == "magic") { %> aria-current="location"<% }; %>>Magic Weapons</a></li>
						</ul>
					</li>
					<li>
						<a href="/en/armour"<% if (detailPage.nav.segment == "armour") { %> aria-current="location"<% }; %>>Armour</a>
						<ul>
							<li><a href="/en/clothing"<% if (detailPage.nav.category == "clothes") { %> aria-current="location"<% }; %>>Clothing</a></li>
							<li><a href="/en/heavy-armour"<% if (detailPage.nav.category == "heavy") { %> aria-current="location"<% }; %>>Heavy Armour</a></li>
							<li><a href="/en/guards"<% if (detailPage.nav.category == "guard") { %> aria-current="location"<% }; %>>Guards</a></li>
						</ul>
					</li>
					<li>
						<a href="/en/tools"<% if (detailPage.nav.segment == "tool") { %> aria-current="location"<% }; %>>Tools</a>
						<ul>
							<li><a href="/en/warranty"<% if (detailPage.nav.page == "warranty") { %> aria-current="location"<% }; %>>Warranty</a></li>
						</ul>
					</li>
				</ul>
				<ul>
					<li><a href="/fr<%= detailPage.canon.fr %>">Français</a></li>
				</ul><% } else { %><h2 id="siteNavTitle">Navigation du site</h2>
				<ul>
					<li><a href="/fr"<% if (detailPage.nav.segment == "index") { %> aria-current="location"<% }; %>>Accueil</a></li>
					<li>
						<a href="/fr/armes"<% if (detailPage.nav.segment == "weapon") { %> aria-current="location"<% }; %>>Armes</a>
						<ul>
							<li><a href="/fr/armes-de-melee"<% if (detailPage.nav.category == "melee") { %> aria-current="location"<% }; %>>Armes de mêlée</a></li>
							<li><a href="/fr/armes-a-distance"<% if (detailPage.nav.category == "ranged") { %> aria-current="location"<% }; %>>Armes à distance</a></li>
							<li><a href="/fr/armes-magiques"<% if (detailPage.nav.category == "magic") { %> aria-current="location"<% }; %>>Armes magiques</a></li>
						</ul>
					</li>
					<li>
						<a href="/fr/armure"<% if (detailPage.nav.segment == "armour") { %> aria-current="location"<% }; %>>Armure</a>
						<ul>
							<li><a href="/fr/vetements"<% if (detailPage.nav.category == "clothes") { %> aria-current="location"<% }; %>>Vêtements</a></li>
							<li><a href="/fr/armure-lourde"<% if (detailPage.nav.category == "heavy") { %> aria-current="location"<% }; %>>Armure lourde</a></li>
							<li><a href="/fr/gardes"<% if (detailPage.nav.category == "guard") { %> aria-current="location"<% }; %>>Gardes</a></li>
						</ul>
					</li>
					<li>
						<a href="/fr/outils"<% if (detailPage.nav.segment == "tool") { %> aria-current="location"<% }; %>>Outils</a>
						<ul>
							<li><a href="/fr/garantie"<% if (detailPage.nav.page == "warranty") { %> aria-current="location"<% }; %>>Garantie</a></li>
						</ul>
					</li>
				</ul>
				<ul>
					<li><a href="/en<%= detailPage.canon.en %>">English</a></li>
				</ul><% }; }; %>
			</nav>
		</div>
	</header>

	<main>
		<% if (detailPage.title.length) { %><h1><%= detailPage.title %></h1><% }; %>
<%- include(detailPage.template + ".ejs") %>

		<section id="legal">
			<h2><% if (detailPage.lang == "en") { -%>Legal Disclaimers<% } else { -%>Avis de non-responsabilité<% }; -%></h2>
<% if (detailPage.lang == "en") { %>
			<ul>
				<li>Design, concept, and exact copy &copy;2018 OciCat Media. Most information comes from <a href="https://en.wikipedia.org" rel="external">Wikipedia</a>. Images used are bought from <a href="https://stock.adobe.com/ca/" rel="external">Adobe Stock</a></li>
			</ul>
			<% if (detailPage.template == "product") { %><ul>
				<li id="dis_dag"><sup>&dagger;</sup> Price is the cost of single (non-bulk) item, and based on the present primary currency. Other currencies and barter are valid for transactions.</li>
				<li id="dis_ddag"><sup>&Dagger;</sup> <% if (detailPage.nav.segment == "weapon") { %>Damage is an estimate of potential harm the weapon can inflict<% } else { %>Armour Class is an estimate of difficulty for an opponent to inflict damage<% }; %>. Actual results may vary based on real life situations.</li>
				<li id="dis_ast"><sup>*</sup> There is a limit of 4 <% if (detailPage.nav.segment == "weapon") { %>sharpenings<% } else { %>patchings/polishings<% }; %>, and 1 derusting per year.</li>
				<li id="dis_astast"><sup>**</sup> The warranty concludes at the end of whichever event occurs first.</li>
				<li id="dis_astastast"><sup>***</sup> The warranty only covers failures due to craftmanship or manufacturing defects. Improperly storing, handling, or using the <% if (detailPage.nav.segment == "weapon") { %>weapon<% } else { %>armour<% }; %> will void the warranty.</li>
			</ul><% } %>
<% } else { %>
			<ul>
				<li>Conception, concept et copie exacte &copy;2018 OciCat Media. La plupart des informations proviennent de <a href="https://fr.wikipedia.org" rel="external">Wikipédia</a>. Les images utilisées sont achetées auprès <a href="https://stock.adobe.com/ca_fr/" rel="external">d'Adobe Stock</a>. <a href="https://translate.google.ca/" rel="external">Google translate</a> utilisé pour les traductions.</li>
			</ul>
			<% if (detailPage.template == "product") { %><ul>
				<li id="dis_dag"><sup>&dagger;</sup> Le prix est le coût d'un article unique (non en vrac) et basé sur la monnaie primaire actuelle. Les autres devises et le troc sont valables pour les transactions.</li>
				<li id="dis_ddag"><sup>&Dagger;</sup> <% if (detailPage.nav.segment == "weapon") { %>Les dommages sont une estimation des dommages potentiels que l'arme peut infliger<% } else { %>La classe d'armure est une estimation de la difficulté pour un adversaire d'infliger des dégâts<% }; %>. Les résultats réels peuvent varier en fonction des situations de la vie réelle.</li>
				<li id="dis_ast"><sup>*</sup> Il y a une limite de 4 <% if (detailPage.nav.segment == "weapon") { %>affûtages<% } else { %>patches / polissages<% }; %>, et 1 dérouillage par an.</li>
				<li id="dis_astast"><sup>**</sup> La garantie se termine à la fin de l'événement qui survient en premier.</li>
				<li id="dis_astastast"><sup>***</sup> La garantie ne couvre que les défaillances dues à des défauts de fabrication ou de fabrication. Un stockage, une manipulation ou une utilisation inappropriés de l'<% if (detailPage.nav.segment == "weapon") { %>arme<% } else { %>armure<% }; %> annuleront la garantie.</li>
			</ul><% } %>
<% }; if (detailPage.disc.length) { -%>
			<ul><% detailPage.disc.forEach(function(disclaimer,disclaimerNumber) { %>
				<li id="dis_<%= disclaimerNumber + 1 %>"><sup><%= disclaimerNumber + 1 %></sup> <%= disclaimer %></li><% }); %>
			</ul>
<% } -%>
		</section>
	</main>
	<script src="<%= dataSite.uri.rootAssetGlobal %>jquery-3.3.1.min.js"></script>
	<script src="<%= dataSite.uri.rootAsset %>canbotics-smithy.js"></script>
</body>
</html>