		<% if (detailsPage.langCode == "en") { %><li class="price"><h3>Price</h3><div><%= detailsWeapon.attr.price %></div><small>gold pieces</small></li>
		<h2 aria-hidden="true">Attributes</h2>
		<ul class="keyattr">
			<li class="damage"><h3>Damage</h3><div><%= detailsWeapon.attr.damage[0] %><span>d</span><%= detailsWeapon.attr.damage[1] %>
			<% if (detailsWeapon.attr.damage[2]) { %> <span><% if (detailsWeapon.attr.damage[2] > 0) { %>+<% }; %><%= detailsWeapon.attr.damage[2] %></span><% }; %></div><small>hit points</small></li>
			<% if (detailsWeapon.attr.skill == "Sword") { %>
			<li class="speed"><h3>Speed</h3><div><%= detailsWeapon.attr.speed %></div><small>seconds</small></li>
			<li class="weight"><h3>Weight</h3><div><%= detailsWeapon.attr.weight %> <span>kg</span></div><small>~<%= detailsWeapon.attr.weight * 2.2 %> lbs</small></li>
			<% } else if (detailsWeapon.attr.skill == "Marksman" || detailsWeapon.attr.skill == "Archer") { %>
			<li class="range"><h3>Range</h3><div><%= detailsWeapon.attr.range %> <span>m</span></div><small>~<%= Math.round(detailsWeapon.attr.range * 1.09 * 100) / 100 %> yards</small></li>
			<li class="skill"><h3>Skill</h3><div><%= detailsWeapon.attr.skill %></div><small>required</small></li>
			<% }; %>
			<li class="weight"><h3>Weight</h3><div><%= detailsWeapon.attr.weight %> <span>kg</span></div><small>~<%= detailsWeapon.attr.weight * 2.2 %> lbs</small></li>
		<% } else { %>
		<h2 aria-hidden="true">Les attributs</h2>
		<ul class="keyattr">
			<li class="price"><h3>Prix</h3><div><%= detailsWeapon.attr.price %></div><small>pièces d'or</small></li>
			<li class="damage"><h3>Dommage</h3><div><%= detailsWeapon.attr.damage[0] %><span>d</span><%= detailsWeapon.attr.damage[1] %>
			<% if (detailsWeapon.attr.damage[2]) { %> <span><% if (detailsWeapon.attr.damage[2] > 0) { %>+<% }; %><%= detailsWeapon.attr.damage[2] %></span><% }; %></div><small>points de dommage</small></li>
			<% if (detailsWeapon.attr.skill == "Sword") { %>
			<li class="speed"><h3>La vitesse</h3><div><%= detailsWeapon.attr.speed %></div><small>secondes</small></li>
			<li class="weight"><h3>Poids</h3><div><%= detailsWeapon.attr.weight %> <span>kg</span></div><small>~<%= detailsWeapon.attr.weight * 2.2 %> lb</small></li>
			<% } else if (detailsWeapon.attr.skill == "Marksman" || detailsWeapon.attr.skill == "Archer") { %>
			<li class="range"><h3>Distance</h3><div><%= detailsWeapon.attr.range %> <span>m</span></div><small>~<%= Math.round(detailsWeapon.attr.range * 1.09 * 100) / 100 %> yards</small></li>
			<li class="skill"><h3>Compétence</h3><div><%= detailsWeapon.attr.skill %></div><small>champs obligatoires</small></li>
			<% }; %>
			<li class="weight"><h3>Poids</h3><div><%= detailsWeapon.attr.weight %> <span>kg</span></div><small>~<%= detailsWeapon.attr.weight * 2.2 %> lb</small></li>
		<% }; %>
		</ul>