	<header>
		<h1>Boutique médiévale Canbotics</h1>
		<nav>
			<h2>Navigation du site</h2>
			<% if (metaData.langCode.length) { %><ul>
				<li><a href="<%= uriPath.siteRoot %>/fr">Accueil</a></li>
				<li><a href="<%= uriPath.siteRoot %>/fr/armes-de-melee">Armes de mêlée</a></li>
				<li><a href="<%= uriPath.siteRoot %>/fr/armes-a-distance">Armes à distance</a></li>
				<li><a href="<%= uriPath.siteRoot %>/fr/armes-magiques">Armes magiques</a></li>
			</ul><% }; %>
			<ul>
				<li><a href="<%= uriPath.siteRoot + uriPath.en %>">English</a></li>
			</ul>
		</nav>
	</header>
