<!DOCTYPE html>
<html lang="<%= pageDetails.langCode %>">
<head>
	<meta charset="utf-8">
	<meta name="description" content="<%= pageDetails.meta.pageDesc %>">
	<title><%= pageDetails.meta.titlePage %></title>

	<link rel="canonical" href="<%= uriPath.rootSite + pageDetails[pageDetails.langCode].path %>" />
	<link rel="alternate" hreflang="en" href="<%= uriPath.rootSite + pageDetails.en.path %>" />
	<link rel="alternate" hreflang="fr" href="<%= uriPath.rootSite + pageDetails.fr.path %>" />

	<link rel="stylesheet" type="text/css" href="<%= uriPath.rootAsset %>canbotics-smithy.css" />	
</head>