<!DOCTYPE html>
<html lang="<%= detailsPage.langCode %>">
<head>
	<meta charset="utf-8">
	<meta name="description" content="<%= detailsPage.metaDesc %>">
	<title><%= detailsPage.metaTitle %></title>

	<link rel="canonical" href="<%= dataSite.uriPath.rootSite + detailsPage[detailsPage.langCode].pathCanon %>" />
	<link rel="alternate" hreflang="en" href="<%= dataSite.uriPath.rootSite + detailsPage.en.pathCanon %>" />
	<link rel="alternate" hreflang="fr" href="<%= dataSite.uriPath.rootSite + detailsPage.fr.pathCanon %>" />

	<link rel="stylesheet" type="text/css" href="<%= dataSite.uriPath.rootAsset %>canbotics-smithy.css" />	
</head>