<!DOCTYPE html>
<html lang="<%= pageDetails.langCode %>">
<head>
	<meta charset="utf-8">
	<meta name="description" content="<%= pageDetails[pageDetails.langCode].desc %>">
	<title><%= pageDetails.metaTitle %></title>

	<link rel="canonical" href="<%= siteData.uriPath.rootSite + pageDetails[pageDetails.langCode].path %>" />
	<link rel="alternate" hreflang="en" href="<%= siteData.uriPath.rootSite + pageDetails.en.path %>" />
	<link rel="alternate" hreflang="fr" href="<%= siteData.uriPath.rootSite + pageDetails.fr.path %>" />

	<link rel="stylesheet" type="text/css" href="<%= siteData.uriPath.rootAsset %>canbotics-smithy.css" />	
</head>